/* Global Styles */
body {
  background-color: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
  height: 30px;
  padding-top: 20px;
  margin-left: 0px;
  position: sticky;
  top: 0;
}
/* Header Styles */
.navbar {
  background-color: #007bff;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #007bff;
}

/* Header Search Custom Button */
.searchButton {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  margin-left: 1px;
}

.searchButton:hover {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
}

.cartWrapper {
  display: flex;
  align-items: center;
}

.cartIcon {
  background-color: white;
  border: hidden;
  color: #007bff;
  margin-right: 10px;
}

.cartIcon:hover {
  background-color: white;
  border: hidden;
  color: #007bff;
  margin-right: 10px;
}

.AmasonLogo {
  max-width: 100%;
  height: auto;
  margin-top: 25px;
  border: hidden;
  margin-left: 0px;
}

/* Body Styles */
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #007bff;
}

.card-body {
  background-color: #e6f7ff;
}

.card-title {
  color: #0056b3;
}

.buyButton {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
}

.buyButton:hover {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
}

.register,
.login,
.logout {
  color: #0056b3;
}

.register:hover,
.login:hover,
.logout:hover {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
}

.cart {
  margin-top: 5%;
  margin-left: 8%;
}

.totalPriceInCart {
  padding-left: 8%;
  padding-top: 4px;
}

.cartTotal {
  margin-top: 2%;
  margin-left: 50%;
}

.removeButton {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
  border-radius: 5px;
  margin-left: 8px;
}

.removeButton:hover {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  border-radius: 5px;
  margin-left: 8px;
}

.checkoutButton {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50%;
}

.checkoutButton:hover {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50%;
}

/* Checkout*/
.completeCheckout {
  margin-left: 50%;
}

/* Footer Styles */
footer {
  background-color: white;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: left;
  z-index: -10;
}

.footerCopyright {
  padding-left: 40px;
  padding-top: 50px;
  color: #007bff;
  height: 100px;
}

/* Register component styles */
.registerContainer {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.registerLabel {
  color: white;
}

.registerButton {
  background-color: white;
  color: #007bff;
  border: 2px solid white;
}

.registerButton:hover {
  background-color: #0056b3;
  color: white;
}

.registerFormButton {
  margin-top: 10px;
  background-color: #0056b3;
  color: white;
}
.registerCheckbox {
  color: white;
}

.loginContinueBtn,
.registerContinueBtn {
  margin-top: 20px;
  width: 38%;
}

.loggedOut {
  padding-top: 2%;
  text-align: center;
}
